# Data Science Tools and Ecosystem

### Introduction

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives**
- List of Data Science Languages.
- List of Data Science Libraries.
- List of Data Science Tools.
- Examples of arithmetic expressions.

#### List of Data Science Languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

#### List of Data Science Libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
|-----|
|Jupyter Notebooks|
|Apache Hadoop|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers.

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335

## Author
Alex Burch